@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #63b0bb;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.textShadow {
  text-shadow: 2px 2px 0px black;
}

.textShadow1 {
  text-shadow: 4px 4px 0px black;
}

.textShadow3 {
  text-shadow: 2px 2px 0px black;
}

.textShadow6 {
  text-shadow: 2px 2px 0px #fcd34d;
}

.textShadow7 {
  text-shadow: 1.5px 1.5px 0px #fcd34d;
}

.textShadow2 {
  text-shadow: 1px 1px 0px black;
}

.textShadow4 {
  text-shadow: 1.5px 1.5px 0px black;
}

.textShadow5 {
  text-shadow: 1.5px 1.5px 0px black;
}

.noResize {
  resize: none;
}
